@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

/* FORMATAÇÃO */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    text-rendering: optimizelegibility;
    height: 100vh;
    overflow-x: hidden;
}

main{
    padding-top: 80px;
}

/* NAVBAR */
header{
    width: 100%;
    background-color: #006FCB;
    position: fixed;
}

.container-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 90%;
    max-width: 980px;
    margin: auto;
}

.logo-text{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;
    color: white;
    padding: 16px 0;
}


header nav ul{
    display: flex;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    font-weight: 500;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    background: rgba(255,255,255, 0.15)
}

/* TITULOS */
.titles{
    display: flex;
    justify-content: center;
    width: 100%;
}



/* HEADER */
#header {
    width: 100%;
    height: 80vh;
}

.container-header{
    display: flex;
    position: relative;
    z-index: -1;
}

.heading-header{
    position: absolute;
    margin: 12%;
    width: 45%;
}

.title-header{
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bold;
}

#highlight{
    color: #006FCB;
}

.desc-header{
    font-size: 30px;
    font-weight: 600;
    width: 80%;
    margin: 40px 0 0 0;
}

.ilust-header{
    position: absolute;
    width: 800px;
    right: 10%;
}


/* CONTEÚDO */

/* O QUE É */
#sobre{
    width: 100%;
    margin-top: 150px;
    padding-top: 80px;
}

.container-sobre{
    display: flex;
    justify-content: space-evenly;
    
}

.img-container{
    display: flex;
    flex-direction: column;
}

.img-bacteria{
    z-index: -1
}

#desc-bacteria{
    font-weight: 500;
    position: relative;
    bottom: 16%;
    text-align: center;
    margin-right: 20px;
    z-index: -1;
}

.heading-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    letter-spacing: 1px;
}

.title-sobre{
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 800;
}

.title-sobre::after {
    content: '';
    display: block;
    position: absolute;
    width: 120px;
    height: 5px;
    background: #006FCB;
    border-radius: 20px;
    z-index: -1;
}

.desc-sobre{
    text-align: justify;
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 20px;
}


/* SINTOMAS */
#sintomas{
    width: 100%;
    margin-top: 150px;
}

.container-sintomas{
    display: flex;
    justify-content: space-evenly;
    
}

.img-container{
    display: flex;
    flex-direction: column;
}

.heading-sintomas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    letter-spacing: 1px;
}

.title-sintomas{
    justify-content: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 800;
}

.title-sintomas::after {
    content: '';
    display: block;
    position: absolute;
    width: 120px;
    height: 5px;
    background: #006FCB;
    border-radius: 20px;
    z-index: -1;
}

.desc-sintomas{
    text-align: justify;
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 20px;
}


/* TRANSMISSAO */
#transmissao{
    width: 100%;
    margin-top: 150px;
}

.container-trans{
    display: flex;
    justify-content: space-evenly;
    
}

.img-container{
    display: flex;
    flex-direction: column;
}

.heading-trans{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    letter-spacing: 1px;
}

.title-trans{
    justify-content: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 800;
}

.title-trans::after {
    content: '';
    display: block;
    position: absolute;
    width: 190px;
    height: 5px;
    background: #006FCB;
    border-radius: 20px;
    z-index: -1;
}

.desc-trans{
    text-align: justify;
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 20px;
}


/* TRATAMENTO */
#tratamento{
    width: 100%;
    margin-top: 150px;
}

.container-tratamento{
    display: flex;
    justify-content: space-evenly;
    
}

.img-container{
    display: flex;
    flex-direction: column;
}

.heading-tratamento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    letter-spacing: 1px;
}

.title-tratamento{
    justify-content: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 800;
}

.title-tratamento::after {
    content: '';
    display: block;
    position: absolute;
    width: 120px;
    height: 5px;
    background: #006FCB;
    border-radius: 20px;
    z-index: -1;
}

.desc-tratamento{
    text-align: justify;
    font-weight: 500;
    font-size: 26px;
    padding-bottom: 20px;
}


/* TRATAMENTO */
#prevencao{
    width: 100%;
    margin-top: 150px;
}

.container-prev{
    display: flex;
    justify-content: space-evenly;
    
}

.img-container{
    display: flex;
    flex-direction: column;
}

.heading-prev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    letter-spacing: 1px;
}

.title-prev{
    justify-content: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 800;
}

.title-prev::after {
    content: '';
    display: block;
    position: absolute;
    width: 120px;
    height: 5px;
    background: #006FCB;
    border-radius: 20px;
    z-index: -1;
}

.desc-prev{
    text-align: justify;
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 20px;
}


/* BIBLIOGRAFIA */
#bibliografia{
    width: 100%;
    margin-top: 150px;
    padding: 25px 0 15px 0;
    background-color: aliceblue;
}

.container-biblio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    letter-spacing: 1px;
}

#part-one{
    width: 40%;
}

#part-two{
    width: 40%;
}

.title-biblio{
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 800;
}

.title-biblio::after {
    content: '';
    display: block;
    position: absolute;
    width: 120px;
    height: 5px;
    background: #006FCB;
    border-radius: 20px;
    z-index: -1;
}

.referencias{
    text-align: justify;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 20px;
}

#link-ref{
    color: black;
    text-decoration: none;
}

#link-ref:hover{
    color: #006FCB;
}

/* FOOTER */
footer{
    background-color: #006FCB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 110px;
}

footer span{
    color: white;
    font-weight: 600;
}

.social-container{
    display: flex;
    gap: 25px;
    align-items: center;
    margin: 10px;
}

#social-link{
    color: white;
    text-decoration: none;
}

#social-link:hover{
    color: white;
}

#link-footer{
    color: white;
}


